.popup__close-button {
  background: url(../../../images/icon-x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

@media (max-width: 525px) {
  .popup__close-button {
    max-width: 20px;
    max-height: 20px;
    right: 0;
    top: -36px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  }


